SoundFile
librosa
scipy
einops
einops_exts
munch
pyyaml
torchaudio==2.2.0
torch==2.2.0
transformers~=4.55.2
git+https://github.com/patriotyk/ukrainian-word-stress.git
git+https://github.com/patriotyk/ipa-uk.git
git+https://github.com/patriotyk/styletts2-inference@105aed29fa1a7698d08d920986890e9bbd03447c
spaces~=0.40.0
numpy<2
accelerate>=0.26.0
gradio~=5.42.0
pandas~=2.3.1